.login_p{
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 90vh;
    overflow: hidden;
}
.login-box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    margin-top: 10%;

}
.login-box h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.login-box form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .user-box{
    position: relative;
    border-bottom: 3px solid #adadad;
    margin: 30px 0;
}
.user-box input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.user-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.user-box span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.user-box input:focus ~ span::before,
.user-box input:valid ~ span::before{
  width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
   text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}
.login-bx{
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 80px;
}
@media (max-width: 880px) {
    .login-box{
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: white;
        border-radius: 10px;
        margin-top: 10%;
    
    }
}